@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    pointer-events: none;
    z-index: 50;
    min-height: 100%;
    width: 100%;
    max-width: 1176px;
    border-right: 1px solid #7F7F7F1A;
    background: linear-gradient(to right, #7F7F7F1A 1px, transparent 0);
    background-repeat: repeat-x;
    background-size: calc(100%);
}


.state-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 16px;
  background-image: url("/images/Mobile-App-About-BG.webp");
  background-position: 50% 97%;
  background-repeat: no-repeat;
  background-size: 95% auto;
}

@layer components {
  .btn-primary {
    @apply bg-headline hover:bg-secondary text-white px-6 py-3 rounded-lg font-medium transition-colors duration-200;
  }
  
  .btn-secondary {
    @apply border rounded-[12px] shadow-[0px_5px_4px_0px_rgba(0,10,31,0.2)] text-[#111111] bg-white hover:bg-[#0BA5EC] hover:text-white font-medium transition-colors duration-200 px-[20.8px] py-[11.2px] leading-[15px];
  }
  .btn-third {
    @apply border rounded-[12px] shadow-[0px_5px_4px_0px_rgba(0,10,31,0.2)] text-white bg-primary hover:bg-secondary font-medium transition-colors duration-200 px-[20.8px] py-[11.2px] leading-[15px];
  }
  
  h1 {
    @apply text-[38px] leading-[45.6px] tracking-[0.76px]  md:text-[48px] md:leading-[57.6px] md:tracking-[-0.96px] lg:text-[64px] lg:leading-[76.8px] lg:tracking-[-1.28px] font-semibold text-black text-center
  }

  h2 {
    @apply text-[#111111] font-semibold text-[28px] leading-[33.6px] tracking-[-0.56px] md:text-[36px] md:leading-[43.2px] md:tracking-[-0.72px] lg:text-[56px] lg:leading-[67.2px] lg:tracking-[-1.12px]
  }

  .primary-text {
    @apply text-[#11111199] text-[14px] font-normal leading-[22.4px] md:text-[15px] md:leading-[24px] lg:text-[16px] lg:leading-[25.6px]
  }

  h5 {
    @apply text-black text-[18px] font-medium leading-[21.6px] md:text-[19px] md:leading-[22.4px] lg:text-[20px] lg:leading-[24px] text-start
  }

  .headline-text {
    @apply text-[#11111199] text-[16px] font-normal leading-[25.6px] md:text-[17px] md:leading-[27.2px] lg:text-[18px] lg:leading-[28.8px]
  }

  .large-text {
    @apply text-[#11111199] font-medium text-[26px] leading-[31.2px] tracking-[0.52px] md:text-[34px] md:leading-[40.8px] md:tracking-[-0.68px] lg:text-[48px] lg:leading-[57.6px] lg:tracking-[-0.96px]
  }

  .animate-on-scroll {
    @apply opacity-0 translate-y-8 transition-all duration-700;
  }
  
  .animate-on-scroll.visible {
    @apply opacity-100 translate-y-0;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
  width: max-content;
  height: max-content !important;
}

/* Counter animation */
.counter-number {
  display: inline-flex;
  line-height: 1;
  overflow: hidden;
}

.counter-digit {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 1em;
  will-change: transform;
  transition: transform 1.4s ease-out;
}

.leader-mask {
  mask-image: url('/images/Mobile-App-Leaders-Mask.webp');
  mask-size: cover;
  mask-position: center center;
}

/* Screen Animation */

@keyframes moveBackground {
  0% {
    background-position-x: 100%;
    background-position-y: 100%;
  }
  100% {
    background-position-x: 0px;
    background-position-y: 0%;
  }
}

.screen-animation::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  pointer-events: none;
  z-index: 2;
  min-height: 100vh;
  width: 1px;
  background: repeating-linear-gradient(
    0deg,
    rgb(11, 165, 236),
    transparent 25vh,
    transparent 320vh
  );
  background-size: 100% 250%;
  box-shadow: 0 0 20px -16px rgba(11, 165, 236, 0.2);
}

.screen-animation::after {
  right: min(95%, 1175px);
  left: 0;
  background-size: 100% 230%;
  animation: moveBackground 35.5s linear infinite 1s;
}

.screen-animation::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin-right: auto;
  margin-left: auto;
  pointer-events: none;
  z-index: 2;
  min-height: 100vh;
  width: 1px;
  background: repeating-linear-gradient(
    0deg,
    rgb(11, 165, 236),
    transparent 25vh,
    transparent 320vh
  );
  background-size: 100% 250%;
  box-shadow: 0 0 20px -16px rgba(11, 165, 236, 0.2);
}

.screen-animation::before {
  left: min(95%, 1175px);
  right: 0;
  background-size: 100% 230%;
  animation: moveBackground 35.5s linear infinite 1s;
}

/* Helper */

.ui-link-helper svg {
	width: 22px;
}

.ui-link-helper {
	position: fixed;
	right: 0;
	top: calc(50vh - 111px);
	display: flex;
	flex-direction: column;
	background: white;
	width: 45px;
	cursor: pointer;
	border-left: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 5px 40px rgb(0 0 0 / 7%);
	-moz-box-shadow: 0 5px 40px rgba(0,0,0,7%);
	box-shadow: 0 5px 40px rgb(0 0 0 / 7%);
	padding: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid #eaeaea;
	border-right: 0;
    z-index: 9999999;
}

.ui-link-helper .ui-tooltip {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: scale(.7);
	-moz-transform: scale(.7);
	-ms-transform: scale(.7);
	transform: scale(.7);
	position: absolute;
	background-color: #fff;
	font-size: 13px;
	margin: 0;
	padding: 0px 20px;
	font-family: inherit;
	width: auto;
	font-weight: 500;
	line-height: 36px;
	letter-spacing: .1px;
	right: 10px;
	top: 4px;
    border-radius:3px;
	white-space: nowrap;
	-webkit-box-shadow: 0 5px 40px rgb(0 0 0 / 7%), 0 0 3px -1px rgb(83 45 245 / 15%);
	-moz-box-shadow:0 5px 40px rgb(0 0 0 / 7%), 0 0 3px -1px rgb(83 45 245 / 15%);
	box-shadow: 0 5px 40px rgb(0 0 0 / 7%), 0 0 3px -1px rgb(83 45 245 / 15%);
	-moz-transition: all .3s cubic-bezier(0.64,-0.09, 0.13, 1.15);
	-o-transition: all .3s cubic-bezier(0.64,-0.09, 0.13, 1.15);
	transition: all .3s cubic-bezier(0.64,-0.09, 0.13, 1.15);
    color:#794AFF;
}

.ui-link-helper .ui-tooltip-link:hover .ui-tooltip {
	opacity: 1;
	right: 60px;
	visibility: visible;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.ui-link-helper .ui-tooltip-link {
	position: relative;
	display: flex;
	justify-content: center;
	height: 44px;
	align-items: center;
    transition: all .3s ease-in;
}

.ui-link-helper .ui-tooltip span{
	display: block;
	position: absolute;
	right: -5px;
	top: 12px;
	width: 0;
	height: 0;
	border-left: 5px solid #fff;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
}

.ui-link-helper .ui-tooltip-link + .ui-tooltip-link {
	border-top: 1px solid #eaeaea;
}

.ui-link-helper .ui-tooltip-link svg {
	height: 20px;
}
.ui-tooltip-link:hover {
	background: rgb(83 45 245 / 5%);
}
.ui-tooltip-link:hover svg path {
	fill: #794AFF;
}

@media(max-width: 767px) {
  .ui-link-helper {
	display: none;
  }
}


/* Pages About us */
.about-us-hero::after{
  content: "";
  position:absolute;
  width: 96px;
  height: 96px;
  border-radius: 24px;
  top: -6px;
  right: -6px;
  left: -6px;
  bottom: -6px;
  background: conic-gradient(86.5deg, transparent, #CAEEFF, transparent);
}

.about-us-hero::before{
  content: "";
  position:absolute;
  width: 96px;
  height: 96px;
  border-radius: 24px;
  top: 0px;
  left: 0px;
  background-color: transparent;
  mix-blend-mode: overlay;
  background: linear-gradient(225deg, #10CFF5 0%, #FFFFFF00 100%);
  z-index: 2;
}

@property --ui-borderanim-angle {
  syntax: '<angle>';
  initial-value: 0turn;
  inherits: false;
}

@keyframes borderRotate {
  0% {
    --ui-borderanim-angle: 0turn;
  }
  100% {
    --ui-borderanim-angle: 1turn;
  }
}
.pricing-animation::before{
  content: "";
  position: absolute;
  width: 100%;
  top: -1px;
  bottom: -1px;
  border: solid transparent;
  border-width: 1px 0px 1px 0px;
  animation: borderRotate 5s linear infinite;
  pointer-events: none;
  background: conic-gradient(from var(--ui-borderanim-angle), transparent 88%, #36BFFA, #36BFFA 99.7%, transparent) border-box;
  background-clip: border-box;
  background-origin: border-box;
  mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0)) content-box,
      radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(2% - 1px), #000) border-box;
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
}

/* animations */
/* Fade in from Left */
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animation-fade-in-left {
  animation: fadeInLeft 0.6s ease forwards;
}

/* Fade in from Right */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animation-fade-in-right {
  animation: fadeInRight 0.6s ease forwards;
}

/* Fade in from Top */
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animation-fade-in-top {
  animation: fadeInTop 2s ease forwards;
}

/* Fade in from Bottom */
@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animation-fade-in-bottom {
  animation: fadeInBottom 2s ease forwards;
}

/* Scale Up with fade-in from top (origin bottom center) */
@keyframes scaleFadeInTop {
  0% {
    opacity: 0;
    transform-origin: center bottom;
    transform: translateY(-20px) scale(0.8);
  }
  100% {
    opacity: 1;
    transform-origin: center bottom;
    transform: translateY(0) scale(1);
  }
}
.animation-scale-fade-in-top {
  animation: scaleFadeInTop 0.7s ease forwards;
}

/* Scale Down with fade-in from top (origin bottom center) */
@keyframes scaleFadeOutTop {
  0% {
    opacity: 0;
    transform-origin: center bottom;
    transform: translateY(-20px) scale(1.2);
  }
  100% {
    opacity: 1;
    transform-origin: center bottom;
    transform: translateY(0) scale(1);
  }
}
.animation-scale-fade-out-top {
  animation: scaleFadeOutTop 2s ease forwards;
}


@media (max-width: 1024px) {
    main::before {
        width: 95%;
    }
    .about-us-hero::after {
      width: 80px;
      height: 80px;
    }
    .about-us-hero::before {
      width: 80px;
      height: 80px;
    }
}